@import "./styles/variables.css";
@import "./styles/header.css";
@import "./styles/breadcrumps.css";
@import "./styles/main.css";

body {
  font-family: "Montserrat Alternates", sans-serif;
}

.container {
  width: 100%;
  max-width: 1420px;
  margin-left: auto;
  margin-right: auto;
}
